In [1]:
%load_ext sql

# Connect To Redshift Cluster

In [2]:
#REDSHIFT CLUSTER ENDP
ENDPOINT = 'redshift-cluster-1.cohdz8ivgmva.us-east-1.redshift.amazonaws.com:5439/dev'

# Redshift cluster credentials
USER = 'awsuser'
PASSWORD = '#######'

# IAM ROLE ARN
ARN='arn:aws:iam::473213592319:role/redshift'

In [5]:
conn_string=f"postgresql://{USER}:{PASSWORD}@{ENDPOINT}"
%sql $conn_string

'Connected: awsuser@dev'

# Create Staging Tables

In [6]:
%%sql
DROP TABLE IF EXISTS staging_events;
DROP TABLE IF EXISTS staging_songs;

 * postgresql://awsuser:***@redshift-cluster-1.cohdz8ivgmva.us-east-1.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [7]:
%%sql
CREATE TABLE staging_events (
    artist           VARCHAR,
    auth             VARCHAR,
    firstName        VARCHAR,
    gender           VARCHAR,
    itemInSession    INT,
    lastName         VARCHAR,
    length           FLOAT,
    level            VARCHAR,
    location         VARCHAR,
    method           VARCHAR,
    page             VARCHAR,
    registration     TIMESTAMP,
    sessionId        INT,
    song             VARCHAR,
    status           INT,
    ts               TIMESTAMP,
    userAgent        VARCHAR,
    userId           INT
    
);

CREATE TABLE staging_songs(
    artist_id           VARCHAR,
    artist_latitude     VARCHAR,
    artist_location     VARCHAR,
    artist_longitude    VARCHAR,
    artist_name         VARCHAR,
    duration            DECIMAL,
    num_songs           INT,
    song_id             VARCHAR,
    title               VARCHAR,
    year                INT
);

 * postgresql://awsuser:***@redshift-cluster-1.cohdz8ivgmva.us-east-1.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

## Load data into Staging Tables

In [8]:
# Copy data from S3 storage into staging tables
staging_events_copy = ("""
    copy staging_events from 's3://udacity-dend/log_data/2018/'
    credentials 'aws_iam_role={}'
    region 'us-west-2'
    FORMAT AS JSON 'auto'
    TIMEFORMAT AS 'epochmillisecs';
""").format(ARN)

staging_songs_copy = ("""
    copy staging_songs from 's3://udacity-dend/song_data/A/'
    credentials 'aws_iam_role={}'
    region 'us-west-2'
    FORMAT AS JSON 'auto'
    TIMEFORMAT AS 'epochmillisecs';
""").format(ARN)

In [9]:
%sql $staging_events_copy

 * postgresql://awsuser:***@redshift-cluster-1.cohdz8ivgmva.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [10]:
%sql $staging_songs_copy

 * postgresql://awsuser:***@redshift-cluster-1.cohdz8ivgmva.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

# Create Tables

In [14]:
%%sql
DROP TABLE IF EXISTS songplays;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS songs;
DROP TABLE IF EXISTS artists;
DROP TABLE IF EXISTS time;

 * postgresql://awsuser:***@redshift-cluster-1.cohdz8ivgmva.us-east-1.redshift.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.

[]

In [16]:
%%sql

CREATE TABLE  users (
    user_id     INT PRIMARY KEY,
    first_name  VARCHAR,
    last_name   VARCHAR,
    gender      VARCHAR,
    level       VARCHAR
);

CREATE TABLE songs (
    song_id    VARCHAR PRIMARY KEY,
    title      VARCHAR,
    artist_id  VARCHAR,
    year       INT,
    duration   DECIMAL
);

CREATE TABLE artists (
    artist_id     VARCHAR PRIMARY KEY,
    name          VARCHAR,
    location      VARCHAR,
    longitude     VARCHAR,
    latitude      VARCHAR
);

CREATE TABLE time (
    start_time    TIMESTAMP PRIMARY KEY, 
    hour          INT, 
    day           INT, 
    week          INT, 
    month         INT,        
    year          INT, 
    weekday       INT
);

CREATE TABLE songplays (
    songplay_id INT PRIMARY KEY IDENTITY(0,1),
    start_time  TIMESTAMP, 
    user_id     INT, 
    level       VARCHAR, 
    song_id     VARCHAR, 
    artist_id   VARCHAR,
    session_id  INT, 
    location    VARCHAR, 
    user_agent  VARCHAR,
    FOREIGN KEY (start_time) REFERENCES time (start_time),
    FOREIGN KEY (user_id)    REFERENCES users (user_id),
    FOREIGN KEY (song_id)    REFERENCES songs (song_id),
    FOREIGN KEY (artist_id)  REFERENCES artists (artist_id)
);

 * postgresql://awsuser:***@redshift-cluster-1.cohdz8ivgmva.us-east-1.redshift.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.

[]

# Insert Data From staging tables into tables

In [17]:
%%sql

INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT e.ts, e.userId, e.level, s.song_id, s.artist_id, e.sessionId, e.location, e.userAgent 
FROM staging_songs    AS      s 
JOIN staging_events   AS      e 
ON e.song = s.title  
WHERE e.page = 'NextSong'; 

INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT DISTINCT userid, firstname, lastname, gender, level
FROM staging_events    
WHERE userid IS NOT NULL AND page = 'NextSong';

INSERT INTO songs (song_id, title, artist_id, year, duration)
SELECT song_id, title, artist_id, year, duration 
FROM staging_songs ; 

INSERT INTO artists (artist_id, name, location, longitude, latitude)
SELECT artist_id, artist_name, artist_location, artist_longitude, artist_latitude
FROM staging_songs 
WHERE artist_id IS NOT NULL;  


INSERT INTO time (start_time, hour, day, week, month, year, weekday)
SELECT DISTINCT(ts), EXTRACT(hour FROM ts), EXTRACT(day FROM ts), EXTRACT(week FROM ts), EXTRACT(month FROM ts), EXTRACT(year FROM ts), EXTRACT(weekday FROM ts)
FROM staging_events;

 * postgresql://awsuser:***@redshift-cluster-1.cohdz8ivgmva.us-east-1.redshift.amazonaws.com:5439/dev
1144 rows affected.
0 rows affected.
14896 rows affected.
14896 rows affected.
8023 rows affected.

[]